In [175]:
import pandas as pd
import numpy as np

In [176]:
df = pd.read_csv('../data/raw/all_games.csv')
df_2 = pd.read_csv('../data/raw/video_games_sales.csv')

In [177]:
# drop columns

def drop_columns_in_table_1(df):
    df = df.drop(columns=['summary'])
    return df

def drop_columns_in_table_2(df_2):
    df = df_2.drop(columns=['rank'])
    return df

In [178]:
updated_df = drop_columns_in_table_1(df)
updated_df_2 = drop_columns_in_table_2(df_2)

display(updated_df, updated_df_2)

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [179]:
display(updated_df['platform'].unique())
display(updated_df_2['platform'].unique())

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [180]:
def new_platform_column(updated_df):
    platform_mapping = {'Nintendo 64':'Nintendo 64', 'PlayStation':'PlayStation', 'PlayStation 3':'PlayStation 3', 'Dreamcast':'Dreamcast', 'Xbox 360':'Xbox 360',
                          'Wii':'Wii', 'Xbox One':'Xbox One', 'PC':'PC', 'Switch':'Nintendo Switch', 'PlayStation 2':'PlayStation 2',
                               'PlayStation 4':'PlayStation 4', 'GameCube':'GameCube', 'Xbox':'Xbox', 'Wii U':'Wii U', 'Game Boy Advance':'Game Boy Advance', '3DS':'Nintendo 3DS', 'Xbox Series X':'Xbox Series X', 'DS':'Nintendo DS', 
                                   'PlayStation Vita':'PlayStation Vita', 'PlayStation 5':'PlayStation 5', 'PSP':'PlayStation Portable', 'Stadia':'Google Stadia'}
    updated_df['platform'] = updated_df['platform'].replace(platform_mapping)
    return updated_df

def new_platform_column(updated_df_2):
    platform_mapping = {'Wii':'Wii', 'NES':'Nintendo NES', 'GB':'Gameboy', 'DS':'Nintendo DS', 'X360':'Xbox 360',
                          'PS3':'PlayStation 3', 'PS2':'PlayStation 2', 'GBA':'Gameboy Advance', 'SNES':'Nintendo Super NES', '3DS':'Nintendo 3DS',
                               'PS4':'PlayStation 4', 'N64':'Nintendo 64', 'PS':'PlayStation', 'XB':'Xbox', 'PC':'PC', '2600':'2600', 'PSP':'PlayStation Portable', 'XOne':'Xbox One', 'GC':'Game Cube', 'WiiU':'Wii U', 'GEN':'GEN',
                                   'DC':'Dreamcast', 'PSV':'PlayStation Vita', 'SAT':'Saturn', 'SCD':'SEGA CD', 'WS':'WonderSwan', 'NG':'Neo Geo', 'TG16':'TurboGrafx-16', '3DO':'3DO Interactive Multiplayer', 'GG':'SEGA Game Gear', 'PCFX':'PC-FX'}
    updated_df_2['platform'] = updated_df_2['platform'].replace(platform_mapping)
    return updated_df_2

In [181]:
display(new_platform_column(updated_df))

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

In [182]:
display(new_platform_column(updated_df_2))

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [183]:
# to check for NaN
updated_df_2.isna().sum()

name              0
platform          0
year            271
genre             0
publisher        58
na_sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [184]:
updated_df.isna().sum()

name            0
platform        0
release_date    0
meta_score      0
user_review     0
dtype: int64

In [185]:
# Replace non-numeric values with NaN, then convert to numeric
df['user_review'] = pd.to_numeric(df['user_review'], errors='coerce')

# Handle missing values (optional, depending on your data)
df['user_review'].fillna(0, inplace=True)  # Or use another value or method for filling NaNs

# Convert the user_review column to float
df['user_review'] = df['user_review'].astype(float)

# Display the first few rows to confirm the change
print(df.head())
print(df['user_review'].dtype)  # Should print 'float64'

                                   name        platform        release_date  \
0  The Legend of Zelda: Ocarina of Time     Nintendo 64   November 23, 1998
1              Tony Hawk's Pro Skater 2     PlayStation  September 20, 2000
2                   Grand Theft Auto IV   PlayStation 3      April 29, 2008
3                           SoulCalibur       Dreamcast   September 8, 1999
4                   Grand Theft Auto IV        Xbox 360      April 29, 2008

                                             summary  meta_score  user_review
0  As a young boy, Link is tricked by Ganondorf, ...          99          9.1
1  As most major publishers' development efforts ...          98          7.4
2  [Metacritic's 2008 PS3 Game of the Year; Also ...          98          7.7
3  This is a tale of souls and swords, transcendi...          98          8.4
4  [Metacritic's 2008 Xbox 360 Game of the Year; ...          98          7.9
float64

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_80937/2700334080.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['user_review'].fillna(0, inplace=True)  # Or use another value or method for filling NaNs

In [186]:
dropped_na_tb_2_df = updated_df_2.dropna(subset=['year', 'jp_sales', 'eu_sales', 'other_sales', 'global_sales'])
display(dropped_na_tb_2_df)
# TO CHECK THIS AND WHY 0.0 STILL APPEAR

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [187]:
dropped_na_tb_2_df['year'].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000., 1995., 2016., 1991., 1981., 1987., 1980.,
       1983., 2020., 2017.])

In [188]:
dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_80937/773501899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

In [189]:
display(dropped_na_tb_2_df)

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [190]:
# Perform the merge
#common_columns = ['name', 'platform']
#merged_df = pd.merge(updated_df, dropped_na_tb_2_df, on=common_columns, how='right')

# Display the merged dataframe
#display(merged_df)

In [191]:
merged_df = pd.merge(updated_df, dropped_na_tb_2_df, on=['name'], how='inner')
display(merged_df.head(20))

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 3DS,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,PlayStation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Gameboy Advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
5,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,Xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
6,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,PlayStation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
7,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,PC,2008,Action,Take-Two Interactive,0.01,0.79,0.00,0.08,0.88
8,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4,Dreamcast,1999,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34
9,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,Xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
10,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,PlayStation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
11,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,PC,2008,Action,Take-Two Interactive,0.01,0.79,0.00,0.08,0.88
12,Super Mario Galaxy,Wii,"November 12, 2007",97,9.1,Wii,2007,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
13,Super Mario Galaxy 2,Wii,"May 23, 2010",97,9.1,Wii,2010,Platform,Nintendo,3.66,2.42,0.98,0.64,7.69
14,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PlayStation 3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
15,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,Xbox 360,2013,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
16,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PlayStation 4,2014,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
17,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,Xbox One,2014,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
18,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PC,2015,Action,Take-Two Interactive,0.36,0.64,0.00,0.08,1.08
19,Grand Theft Auto V,PlayStation 3,"September 17, 2013",97,8.3,PlayStation 3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40

In [192]:
# Check for any missing values in the merged DataFrame
print(merged_df.isnull().sum())

name            0
platform_x      0
release_date    0
meta_score      0
user_review     0
platform_y      0
year            0
genre           0
publisher       1
na_sales        0
eu_sales        0
jp_sales        0
other_sales     0
global_sales    0
dtype: int64

In [193]:
# Check for any duplicate entries
duplicates = merged_df[merged_df.duplicated(subset=['name'], keep=False)]
display(duplicates)

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 3DS,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,PlayStation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Gameboy Advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18187,Legends of Wrestling II,Game Boy Advance,"November 25, 2002",24,3.6,Gameboy Advance,2002,Fighting,Acclaim Entertainment,0.05,0.02,0.00,0.00,0.07
18192,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3,Xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05
18193,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3,PlayStation 3,2013,Action,Activision,0.00,0.03,0.00,0.00,0.03
18194,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0,Xbox 360,2009,Adventure,Codemasters,0.14,0.01,0.00,0.01,0.16
18195,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0,PlayStation 3,2009,Adventure,Codemasters,0.06,0.03,0.00,0.01,0.10

In [194]:
# Filter the DataFrame to keep only rows where platform_x is equal to platform_y
# Remove leading and trailing spaces
merged_df['platform_x'] = merged_df['platform_x'].str.strip()
merged_df['platform_y'] = merged_df['platform_y'].str.strip()
# Convert both columns to lowercase
merged_df['platform_x'] = merged_df['platform_x'].str.lower()
merged_df['platform_y'] = merged_df['platform_y'].str.lower()
# Display unique values in each platform column
print(merged_df['platform_x'].unique())
print(merged_df['platform_y'].unique())
filtered_df = merged_df[merged_df['platform_x'] == merged_df['platform_y']]

# Display the filtered DataFrame
display(filtered_df)

['nintendo 64' 'playstation' 'playstation 3' 'dreamcast' 'xbox 360' 'wii'
 'xbox one' 'playstation 2' 'playstation 4' 'gamecube' 'xbox' 'pc'
 'game boy advance' 'ds' 'wii u' 'playstation 5' '3ds' 'switch' 'psp'
 'xbox series x' 'playstation vita']
['nintendo 64' 'nintendo 3ds' 'playstation' 'gameboy advance' 'xbox 360'
 'playstation 3' 'pc' 'dreamcast' 'wii' 'playstation 4' 'xbox one'
 'playstation 2' 'game cube' 'xbox' 'wii u' 'playstation portable'
 'nintendo super nes' 'nintendo ds' 'gameboy' 'playstation vita' 'saturn'
 '2600' 'gen' 'nintendo nes' 'sega cd' 'neo geo' 'wonderswan']

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,nintendo 64,"November 23, 1998",99,9.1,nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
2,Tony Hawk's Pro Skater 2,playstation,"September 20, 2000",98,7.4,playstation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
6,Grand Theft Auto IV,playstation 3,"April 29, 2008",98,7.7,playstation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
8,SoulCalibur,dreamcast,"September 8, 1999",98,8.4,dreamcast,1999,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34
9,Grand Theft Auto IV,xbox 360,"April 29, 2008",98,7.9,xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18182,Cruis'n,wii,"November 27, 2007",25,4.0,wii,2007,Racing,Midway Games,0.10,0.01,0.00,0.01,0.12
18183,Gravity Games Bike: Street Vert Dirt,playstation 2,"June 27, 2002",24,3.4,playstation 2,2002,Sports,Midway Games,0.05,0.04,0.00,0.01,0.10
18188,Pulse Racer,xbox,"January 2, 2003",24,2.2,xbox,2003,Racing,Jaleco,0.01,0.00,0.00,0.00,0.02
18189,Fighter Within,xbox one,"November 19, 2013",23,2.8,xbox one,2013,Fighting,Ubisoft,0.11,0.07,0.00,0.02,0.19
18192,Fast & Furious: Showdown,xbox 360,"May 21, 2013",22,1.3,xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05

In [195]:
#pd.set_option('display.max_rows', None)  # Show all rows

In [196]:
#pd.reset_option('display.max_rows')

In [197]:
merged_df

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,nintendo 64,"November 23, 1998",99,9.1,nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,nintendo 64,"November 23, 1998",99,9.1,nintendo 3ds,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,playstation,"September 20, 2000",98,7.4,playstation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,playstation,"September 20, 2000",98,7.4,gameboy advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,playstation,"September 20, 2000",98,7.4,nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18191,Charlie's Angels,gamecube,"July 9, 2003",23,4.3,game cube,2003,Action,Ubisoft,0.01,0.00,0.00,0.00,0.02
18192,Fast & Furious: Showdown,xbox 360,"May 21, 2013",22,1.3,xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05
18193,Fast & Furious: Showdown,xbox 360,"May 21, 2013",22,1.3,playstation 3,2013,Action,Activision,0.00,0.03,0.00,0.00,0.03
18194,Leisure Suit Larry: Box Office Bust,pc,"March 31, 2009",20,2.0,xbox 360,2009,Adventure,Codemasters,0.14,0.01,0.00,0.01,0.16
18195,Leisure Suit Larry: Box Office Bust,pc,"March 31, 2009",20,2.0,playstation 3,2009,Adventure,Codemasters,0.06,0.03,0.00,0.01,0.10

In [198]:
merged_df['name'] = merged_df['name'].str.replace('.', '', regex=False)

In [199]:
merged_df['name'] = merged_df['name'].str.replace(':', ' ', regex=False)

In [200]:
merged_df['name'] = merged_df['name'].str.replace('/', ' ', regex=False)

In [234]:
# Replace non-numeric values with NaN, then convert to numeric
merged_df['user_review'] = pd.to_numeric(df['user_review'], errors='coerce')

# Handle missing values (optional, depending on your data)
merged_df['user_review'].fillna(0, inplace=True)  # Or use another value or method for filling NaNs

# Convert the user_review column to float
merged_df['user_review'] = merged_df['user_review'].astype(float)

# Display the first few rows to confirm the change
print(merged_df.head())
print(merged_df['user_review'].dtype)  # Should print 'float64'

                                   name   platform_x        release_date  \
0  the legend of zelda  ocarina of time  nintendo 64   November 23, 1998
1  the legend of zelda  ocarina of time  nintendo 64   November 23, 1998
2              tony hawk's pro skater 2  playstation  September 20, 2000
3              tony hawk's pro skater 2  playstation  September 20, 2000
4              tony hawk's pro skater 2  playstation  September 20, 2000

   meta_score  user_review       platform_y  year   genre   publisher  \
0          99          9.1      nintendo 64  1998  Action    Nintendo
1          99          7.4     nintendo 3ds  2011  Action    Nintendo
2          98          7.7      playstation  2000  Sports  Activision
3          98          8.4  gameboy advance  2001  Sports  Activision
4          98          7.9      nintendo 64  2001  Sports  Activision

   na_sales  eu_sales  jp_sales  other_sales  global_sales
0      4.10      1.89      1.45         0.16          7.60
1      2.03      1.27      0.62         0.30          4.21
2      3.05      1.41      0.02         0.20          4.68
3      0.85      0.31      0.00         0.02          1.18
4      0.59      0.16      0.00         0.01          0.76
float64

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_80937/3366493983.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['user_review'].fillna(0, inplace=True)  # Or use another value or method for filling NaNs

In [236]:
merged_df

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998",99,9.1,nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998",99,7.4,nintendo 3ds,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,tony hawk's pro skater 2,playstation,"September 20, 2000",98,7.7,playstation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,tony hawk's pro skater 2,playstation,"September 20, 2000",98,8.4,gameboy advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,tony hawk's pro skater 2,playstation,"September 20, 2000",98,7.9,nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18191,charlie's angels,gamecube,"July 9, 2003",23,1.9,game cube,2003,Action,Ubisoft,0.01,0.00,0.00,0.00,0.02
18192,fast & furious showdown,xbox 360,"May 21, 2013",22,2.7,xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05
18193,fast & furious showdown,xbox 360,"May 21, 2013",22,6.3,playstation 3,2013,Action,Activision,0.00,0.03,0.00,0.00,0.03
18194,leisure suit larry box office bust,pc,"March 31, 2009",20,2.0,xbox 360,2009,Adventure,Codemasters,0.14,0.01,0.00,0.01,0.16
18195,leisure suit larry box office bust,pc,"March 31, 2009",20,7.3,playstation 3,2009,Adventure,Codemasters,0.06,0.03,0.00,0.01,0.10

In [238]:
merged_df['name'].isna().sum()

0

In [240]:
merged_df['name'] = merged_df['name'].str.lower()

In [204]:
merged_df

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998",99,9.1,nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998",99,9.1,nintendo 3ds,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,tony hawk's pro skater 2,playstation,"September 20, 2000",98,7.4,playstation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,tony hawk's pro skater 2,playstation,"September 20, 2000",98,7.4,gameboy advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,tony hawk's pro skater 2,playstation,"September 20, 2000",98,7.4,nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18191,charlie's angels,gamecube,"July 9, 2003",23,4.3,game cube,2003,Action,Ubisoft,0.01,0.00,0.00,0.00,0.02
18192,fast & furious showdown,xbox 360,"May 21, 2013",22,1.3,xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05
18193,fast & furious showdown,xbox 360,"May 21, 2013",22,1.3,playstation 3,2013,Action,Activision,0.00,0.03,0.00,0.00,0.03
18194,leisure suit larry box office bust,pc,"March 31, 2009",20,2.0,xbox 360,2009,Adventure,Codemasters,0.14,0.01,0.00,0.01,0.16
18195,leisure suit larry box office bust,pc,"March 31, 2009",20,2.0,playstation 3,2009,Adventure,Codemasters,0.06,0.03,0.00,0.01,0.10

In [228]:
sorted_merged_df = merged_df.sort_values(by='global_sales', ascending=False)
sorted_merged_df

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
7482,wii sports,wii,"November 19, 2006",76,8.1,wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3873,mario kart wii,wii,"April 27, 2008",82,8.4,wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4836,wii sports resort,wii,"July 26, 2009",80,8.2,wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
2438,tetris,psp,"October 1, 2009",85,7.7,gameboy,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
4872,tetris,playstation 3,"January 4, 2011",80,7.3,gameboy,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13238,surf's up,wii,"May 30, 2007",64,5.8,game cube,2007,Sports,Ubisoft,0.01,0.00,0.00,0.00,0.01
3706,marvel ultimate alliance,xbox 360,"October 24, 2006",82,7.7,pc,2006,Role-Playing,Activision,0.01,0.00,0.00,0.00,0.01
3716,guitar hero iii legends of rock,playstation 2,"October 28, 2007",82,8.5,pc,2007,Misc,Aspyr,0.01,0.00,0.00,0.00,0.01
16372,hyperdimension neptunia mk2,pc,"February 28, 2012",53,7.3,playstation 3,2011,Action,Nippon Ichi Software,0.00,0.01,0.00,0.00,0.01
1994,unreal tournament 2003,pc,"September 30, 2002",86,7.8,pc,2002,Shooter,Atari,0.00,0.01,0.00,0.00,0.01

In [ ]:
#TO VAN ANALYSIS START

In [242]:
#TOTAL WORLD SALES ANALYSIS
sum_merged_df = merged_df.groupby('name')['global_sales'].agg(total_world_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='total_world_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                  total_world_sales
name
grand theft auto v                           279.60
call of duty  black ops                      147.00
call of duty  ghosts                         136.90
call of duty  modern warfare 3               123.32
call of duty  black ops ii                   118.88
madden nfl 07                                 82.80
wii sports                                    82.74
guitar hero iii  legends of rock              82.00
fifa soccer 13                                80.80
call of duty  world at war                    79.35
the sims 3                                    77.25
the elder scrolls v  skyrim                   77.12
call of duty  modern warfare 2                75.27
call of duty 4  modern warfare                73.00
tetris                                        71.68
grand theft auto  san andreas                 71.58
fifa 14                                       68.56
madden nfl 06                                 67.52
grand theft auto iv                           67.41
call of duty  advanced warfare                65.70

In [398]:
import plotly.express as px

In [207]:
#EUROPE SALES ANALYSIS
sum_merged_df = merged_df.groupby('name')['eu_sales'].agg(europe_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='europe_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                europe_sales
name
grand theft auto v                    115.20
fifa soccer 13                         51.25
the sims 3                             48.00
call of duty  ghosts                   45.25
call of duty  modern warfare 3         45.16
fifa 14                                44.56
call of duty  black ops ii             44.20
call of duty  black ops                43.45
fifa 15                                37.20
fifa 16                                33.87
fifa soccer 11                         32.04
fifa soccer 10                         31.15
the elder scrolls v  skyrim            30.64
wii sports                             29.02
call of duty  advanced warfare         24.54
call of duty  modern warfare 2         24.33
fifa soccer 08                         23.82
call of duty  world at war             23.75
call of duty 4  modern warfare         23.28
grand theft auto iv                    22.95

In [208]:
#JAPAN SALES ANALYSIS
sum_merged_df = merged_df.groupby('name')['jp_sales'].agg(japan_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='japan_sales', ascending=False)
sorted_sum_merged_df.head(20)
#japan market is particular doesn't have GTA as top game vs other regions

                                                japan_sales
name
resident evil 2                                       14.63
tetris                                                12.06
final fantasy ix                                      11.12
dragon quest viii  journey of the cursed king          8.94
pro evolution soccer 2008                              7.80
resident evil 5                                        7.20
grand theft auto v                                     6.95
final fantasy vii                                      6.56
new super mario bros                                   6.50
resident evil 3  nemesis                               6.16
resident evil 6                                        5.70
onimusha  warlords                                     5.45
animal crossing  wild world                            5.33
brain age 2  more training in minutes a day            5.32
final fantasy iii                                      5.12
resident evil 4                                        4.92
new super mario bros wii                               4.70
animal crossing  new leaf                              4.36
dragon quest ix  sentinels of the starry skies         4.35
pro evolution soccer 2010                              4.35

In [209]:
#NORTH AMERICA ANALYSIS
sum_merged_df = merged_df.groupby('name')['na_sales'].agg(north_america_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='north_america_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                   north_america_sales
name
grand theft auto v                              117.30
call of duty  black ops                          85.05
call of duty  ghosts                             74.60
madden nfl 07                                    71.01
call of duty  modern warfare 3                   62.32
madden nfl 06                                    57.12
call of duty  black ops ii                       56.32
guitar hero iii  legends of rock                 55.75
tetris                                           52.34
cars                                             47.79
call of duty  world at war                       46.50
madden nfl 08                                    42.90
wii sports                                       41.49
madden nfl 2005                                  41.10
call of duty  modern warfare 2                   40.56
call of duty 4  modern warfare                   39.88
lego star wars  the complete saga                36.40
the elder scrolls v  skyrim                      34.92
grand theft auto iv                              34.59
grand theft auto  san andreas                    32.31

In [376]:
df_multiindex = merged_df.set_index(['name', 'year'])
df_multiindex

                                            platform_x        release_date  \
name                                 year
the legend of zelda  ocarina of time 1998  nintendo 64   November 23, 1998
                                     2011  nintendo 64   November 23, 1998
tony hawk's pro skater 2             2000  playstation  September 20, 2000
                                     2001  playstation  September 20, 2000
                                     2001  playstation  September 20, 2000
...                                                ...                 ...
charlie's angels                     2003     gamecube        July 9, 2003
fast & furious  showdown             2013     xbox 360        May 21, 2013
                                     2013     xbox 360        May 21, 2013
leisure suit larry  box office bust  2009           pc      March 31, 2009
                                     2009           pc      March 31, 2009

                                           meta_score  user_review  \
name                                 year
the legend of zelda  ocarina of time 1998          99          9.1
                                     2011          99          7.4
tony hawk's pro skater 2             2000          98          7.7
                                     2001          98          8.4
                                     2001          98          7.9
...                                               ...          ...
charlie's angels                     2003          23          1.9
fast & furious  showdown             2013          22          2.7
                                     2013          22          6.3
leisure suit larry  box office bust  2009          20          2.0
                                     2009          20          7.3

                                                platform_y      genre  \
name                                 year
the legend of zelda  ocarina of time 1998      nintendo 64     Action
                                     2011     nintendo 3ds     Action
tony hawk's pro skater 2             2000      playstation     Sports
                                     2001  gameboy advance     Sports
                                     2001      nintendo 64     Sports
...                                                    ...        ...
charlie's angels                     2003        game cube     Action
fast & furious  showdown             2013         xbox 360     Action
                                     2013    playstation 3     Action
leisure suit larry  box office bust  2009         xbox 360  Adventure
                                     2009    playstation 3  Adventure

                                             publisher  na_sales  eu_sales  \
name                                 year
the legend of zelda  ocarina of time 1998     Nintendo      4.10      1.89
                                     2011     Nintendo      2.03      1.27
tony hawk's pro skater 2             2000   Activision      3.05      1.41
                                     2001   Activision      0.85      0.31
                                     2001   Activision      0.59      0.16
...                                                ...       ...       ...
charlie's angels                     2003      Ubisoft      0.01      0.00
fast & furious  showdown             2013   Activision      0.00      0.04
                                     2013   Activision      0.00      0.03
leisure suit larry  box office bust  2009  Codemasters      0.14      0.01
                                     2009  Codemasters      0.06      0.03

                                           jp_sales  other_sales  global_sales
name                                 year
the legend of zelda  ocarina of time 1998      1.45         0.16          7.60
                                     2011      0.62         0.30          4.21
tony hawk's pro skater 2             2000      0.02         0.20          4.68
                                     2001      0.00         0.02          1.18
                                     2001      0.00         0.01          0.76
...                                             ...          ...           ...
charlie's angels                     2003      0.00         0.00          0.02
fast & furious  showdown             2013      0.00         0.00          0.05
                                     2013      0.00         0.00          0.03
leisure suit larry  box office bust  2009      0.00         0.01          0.16
                                     2009      0.00         0.01          0.10

[18196 rows x 12 columns]

In [250]:
column_dtype = merged_df['user_review'].dtype
print(column_dtype)

float64

In [308]:
#REVIEW ANALYSIS
review_merged_df = merged_df.groupby('name')['user_review'].agg(mean_review ='mean')
sorted_merged_df = review_merged_df.sort_values(by = 'mean_review', ascending=False)

In [366]:
sorted_merged_df.pivot_table(index='name', columns='user_review', values=['global_sales'], aggfunc='sum')

                             global_sales                                      \
user_review                           1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.0 2.1 2.2
name
007  quantum of solace                NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
007  the world is not enough          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
007 racing                            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
100 classic books                     NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
101-in-1 explosive megamix            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                                   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
zoo tycoon 2 ds                       NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
zoo tycoon ds                         NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
zoocube                               NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
zubo                                  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
zumba fitness rush                    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

                              ...
user_review                   ... 8.7 8.8 8.9 9.0 9.1 9.2 9.3 9.4 9.7   tbd
name                          ...
007  quantum of solace        ... NaN NaN NaN NaN NaN NaN NaN NaN NaN  3.92
007  the world is not enough  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
007 racing                    ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
100 classic books             ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
101-in-1 explosive megamix    ... NaN NaN NaN NaN NaN NaN NaN NaN NaN  0.20
...                           ...  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...
zoo tycoon 2 ds               ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
zoo tycoon ds                 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
zoocube                       ... NaN NaN NaN NaN NaN NaN NaN NaN NaN  0.07
zubo                          ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN
zumba fitness rush            ... NaN NaN NaN NaN NaN NaN NaN NaN NaN   NaN

[4575 rows x 84 columns]

In [404]:
top_10_review_df = sorted_review_merged_df.head(10)
top_10_review_df
#best reviewed games are not best selling games

                                          mean_review
name
the sims 4  get together                          9.7
castlevania  order of ecclesia                    9.7
the house of the dead 2 & 3 return                9.6
deus ex  the conspiracy                           9.6
donkey kong 64                                    9.2
the legend of zelda  skyward sword                9.2
the last of us                                    9.2
mario golf                                        9.1
ratchet & clank  up your arsenal                  9.1
metal gear solid 4  guns of the patriots          9.1

In [406]:
import plotly.express as px
fig = px.bar(top_10_review_df, x='name', y='user_review', title='Top 10 User Reviews of Games')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['mean_review'] but received: name

In [314]:
#TOTAL WORLD SALES ANALYSIS BY GENRE
sum_merged_df = merged_df.groupby('genre')['global_sales'].agg(genre_total_world_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='genre_total_world_sales', ascending=False)
sorted_sum_merged_df.head(20)

              genre_total_world_sales
genre
Action                        3918.11
Sports                        2532.27
Shooter                       2211.30
Racing                        1050.43
Role-Playing                   937.71
Misc                           804.40
Platform                       781.67
Fighting                       526.80
Simulation                     411.34
Puzzle                         211.02
Adventure                      191.31
Strategy                       122.35

In [316]:
merged_df['genre'].unique()

array(['Action', 'Sports', 'Fighting', 'Platform', 'Shooter',
       'Role-Playing', 'Racing', 'Puzzle', 'Strategy', 'Misc',
       'Adventure', 'Simulation'], dtype=object)

In [320]:
#EUROPE SALES ANALYSIS BY GENRE
sum_merged_df = merged_df.groupby('genre')['eu_sales'].agg(genre_eu_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='genre_eu_sales', ascending=False)
sorted_sum_merged_df.head(20)

              genre_eu_sales
genre
Action               1300.29
Sports                746.93
Shooter               726.73
Racing                369.06
Role-Playing          242.65
Platform              233.91
Misc                  216.35
Simulation            153.53
Fighting              129.03
Adventure              66.39
Puzzle                 42.37
Strategy               39.83

In [322]:
#NORTH AMERICA SALES ANALYSIS BY GENRE
sum_merged_df = merged_df.groupby('genre')['na_sales'].agg(genre_na_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='genre_na_sales', ascending=False)
sorted_sum_merged_df.head(20)

              genre_na_sales
genre
Action               1943.19
Sports               1396.20
Shooter              1196.64
Racing                516.47
Misc                  467.25
Role-Playing          424.76
Platform              415.00
Fighting              299.97
Simulation            185.99
Puzzle                123.98
Adventure              90.01
Strategy               64.81

In [326]:
#JAPAN SALES ANALYSIS BY GENRE
sum_merged_df = merged_df.groupby('genre')['jp_sales'].agg(genre_jp_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='genre_jp_sales', ascending=False)
sorted_sum_merged_df.head(20)

              genre_jp_sales
genre
Action                188.28
Role-Playing          184.51
Sports                 68.37
Platform               63.08
Shooter                48.16
Racing                 41.74
Fighting               41.46
Misc                   34.24
Puzzle                 33.03
Simulation             32.33
Adventure              14.93
Strategy                5.76

In [330]:
#TOTAL WORLD SALES ANALYSIS BY PUBLISHER
sum_merged_df = merged_df.groupby('publisher')['global_sales'].agg(publisher_total_world_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='publisher_total_world_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                        publisher_total_world_sales
publisher
Electronic Arts                                             2966.86
Activision                                                  1975.56
Nintendo                                                    1108.88
Take-Two Interactive                                        1050.54
Ubisoft                                                      915.41
THQ                                                          518.20
Sony Computer Entertainment                                  511.84
Sega                                                         460.30
Warner Bros. Interactive Entertainment                       396.36
Capcom                                                       342.36
Konami Digital Entertainment                                 337.27
LucasArts                                                    295.09
Microsoft Game Studios                                       288.64
Namco Bandai Games                                           242.71
Bethesda Softworks                                           224.15
Square Enix                                                  191.06
Atari                                                        175.41
Eidos Interactive                                            170.73
Vivendi Games                                                139.50
Midway Games                                                 137.25

In [332]:
#EUROPE SALES ANALYSIS BY PUBLISHER
sum_merged_df = merged_df.groupby('publisher')['eu_sales'].agg(publisher_eu_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='publisher_eu_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                        publisher_eu_sales
publisher
Electronic Arts                                     993.58
Activision                                          586.85
Ubisoft                                             333.43
Take-Two Interactive                                326.76
Nintendo                                            290.91
Sega                                                161.98
Sony Computer Entertainment                         158.42
THQ                                                 143.61
Warner Bros. Interactive Entertainment              140.79
Konami Digital Entertainment                        123.80
Capcom                                               90.81
LucasArts                                            88.89
Bethesda Softworks                                   84.73
Microsoft Game Studios                               79.80
Namco Bandai Games                                   66.04
Codemasters                                          63.49
Eidos Interactive                                    58.35
Square Enix                                          55.98
Disney Interactive Studios                           40.72
Vivendi Games                                        39.54

In [334]:
#NORTH AMERICA SALES ANALYSIS BY PUBLISHER
sum_merged_df = merged_df.groupby('publisher')['na_sales'].agg(publisher_na_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='publisher_na_sales', ascending=False)
sorted_sum_merged_df.head(20)

                                        publisher_na_sales
publisher
Electronic Arts                                    1569.92
Activision                                         1157.67
Take-Two Interactive                                552.41
Nintendo                                            532.27
Ubisoft                                             465.31
THQ                                                 313.15
Sony Computer Entertainment                         233.79
Sega                                                215.29
Warner Bros. Interactive Entertainment              203.38
Microsoft Game Studios                              184.20
LucasArts                                           164.47
Capcom                                              156.24
Namco Bandai Games                                  113.95
Atari                                               112.65
Bethesda Softworks                                  106.91
Konami Digital Entertainment                         97.49
Midway Games                                         89.59
Eidos Interactive                                    86.61
Vivendi Games                                        85.97
Disney Interactive Studios                           75.42

In [336]:
#JAPAN SALES ANALYSIS BY GENRE PUBLISHER
sum_merged_df = merged_df.groupby('publisher')['jp_sales'].agg(publisher_jp_sales = 'sum')
sorted_sum_merged_df= sum_merged_df.sort_values(by='publisher_jp_sales', ascending=False)
sorted_sum_merged_df.head(20)

                              publisher_jp_sales
publisher
Nintendo                                  215.89
Capcom                                     60.85
Konami Digital Entertainment               54.85
Square Enix                                47.88
Sony Computer Entertainment                46.32
Namco Bandai Games                         40.88
SquareSoft                                 37.70
Sega                                       29.52
Electronic Arts                            28.65
Tecmo Koei                                 24.95
Virgin Interactive                         24.07
Activision                                 19.98
Take-Two Interactive                       17.77
Ubisoft                                    12.54
Atari                                      11.64
Eidos Interactive                           8.56
Nippon Ichi Software                        6.25
THQ                                         6.06
Bethesda Softworks                          4.33
Ubisoft Annecy                              4.05

In [408]:
top_10_genres = pivot_genre_ratings.nlargest(10, 'average_rating')

NameError: name 'pivot_genre_ratings' is not defined